.ce-block--selected .ce-block__content,
.theme-dark .ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-popover-item,
.ce-toolbar__plus:hover{
  background: theme('backgroundColor.secondary');
  color: theme('textColor.secondary');
	border-color: theme('borderColor.dark');
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  color: theme('textColor.secondary');
}

.ce-popover__item-icon,
.ce-conversion-tool__icon {
	background-color: green;
	box-shadow: none;
}

.cdx-search-field {
	border-color: theme('borderColor.dark');
	background: theme('backgroundColor.secondary');
	color: inherit;
}

::selection {
  background: theme('backgroundColor.primary');
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color:theme('backgroundColor.primary');
  color: theme('textColor.baseColor');;
}


.cdx-notify--error {
  background: theme('backgroundColor.secondary') !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background: theme('backgroundColor.baseColor');
}