@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --color-base: #fafafa;
    --color-secondary: #eee;
    --color-text-base: #000;
    --color-text-secondary: #222;
    --color-text-thirdary: #444;
    --color-off-base: theme('colors.gray.50');
    --color-text-muted: theme('colors.gray.600');
    --color-text-muted-hover: theme('colors.gray.500');
    --color-primary: #f4ba1d;
    --color-tag: #eee
  }

  .theme-dark {
    --color-base: #222;
    --color-secondary: #000;
    --color-text-base: #ddd;
    --color-text-secondary: #ddd;
    --color-text-thirdary: #aaa;
    --color-off-base: theme('colors.gray.800');
    --color-text-muted: theme('colors.gray.300');
    --color-text-muted-hover: theme('colors.gray.200');
    --color-primary: #f4ba1d;
    --color-tag: #eee
  }

  .custom-svg {
    fill: var(--color-text-base);
    cursor: pointer;
  }

  .custom-svg:hover {
    fill: var(--color-primary);
    cursor: pointer;
  }

  .active {
    color: var(--color-primary);
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  .bgimg {
    background-image: radial-gradient(farthest-side at -80% 10%, var(--color-primary), #d3c525, var(--color-secondary));
    background-attachment: fixed;
  }

  .scrollbar-h::-webkit-scrollbar {
    display: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    /* height: 10px; */
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--color-base);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #000;
  }

  .css-dev-only-do-not-override-2i2tap.ant-checkbox-wrapper {
    color: var(--color-base);
  }

  .college:hover .mask {
    display: block;
  }

}