.markdown-navigation {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  width: 100%;
  overflow: hidden;
}

.markdown-navigation .title-anchor {
  display: block;
  color: theme('textColor.baseColor');
  transition: all 0.2s;
  margin: 0.3em 0;
  font-weight: lighter;
  line-height: 1.5em;
  cursor: pointer;
}

.markdown-navigation .title-anchor:hover,
.markdown-navigation .title-anchor.active {
  color: theme('textColor.primary');
  text-decoration: inherit;
}

.markdown-navigation .title-anchor.active {
  color: theme('textColor.primary');
}

.markdown-navigation .title-anchor small {
  margin: 0 0.8em;
}

.markdown-navigation .title-level1 {
  color: theme('textColor.baseColor');
  font-size: 1.2em;
  padding-left: 0em;
  font-weight: normal;
}

.markdown-navigation .title-level2 {
  color: theme('textColor.secondary');
  font-size: 1em;
  padding-left: 0em;
  font-weight: normal;
}

.markdown-navigation .title-level3 {
  color:theme('textColor.thirdary');
  font-size: 0.8em;
  padding-left: 0.5em;
  font-weight: normal;
}

.markdown-navigation .title-level4 {
  color: #999;
  font-size: 0.72em;
  padding-left: 1em;
}

.markdown-navigation .title-level5 {
  color: #aaa;
  font-size: 0.72em;
  padding-left: 1.5em;
}

.markdown-navigation .title-level6 {
  color: #bbb;
  font-size: 0.72em;
  padding-left: 2em;
}
